<configuration scan="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="logback.xsd">
	<!-- scan=true will reload this configuration file regularly -->
	<!-- debug="true" adds useless logs for each surefire JVM: add it only for investigation -->

	<!-- http://logback.qos.ch/manual/jmxConfig.html -->
	<!-- TODO: stop in a ServletContextListener . See logback doc -->
	<contextName>CleanthatXmlTests</contextName>
	<jmxConfigurator />

	<!-- http://logback.qos.ch/manual/configuration.html -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<!-- http://stackoverflow.com/questions/2005929/howto-prevent-eclipse-from-line-wrapping-in-xml-and-html-files -->
			<!-- '%highlight' works under unix even if withJansi==false -->
			<pattern><![CDATA[%date [%thread] \(%-5level\) %logger{36}.%method\(%line\) - %msg%n]]></pattern>
		</encoder>

		<!-- https://logback.qos.ch/manual/appenders.html#conAppWithJansi -->
		<!-- ANSI fails in our Windows env: https://jira.qos.ch/browse/LOGBACK-762 -->
		<withJansi>false</withJansi>
	</appender>

	<!-- Spring is quite interesting, but quite verbose too: INFO but easily switchable to DEBUG -->
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.security" level="INFO" />

	<!-- Debug by default -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>