<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright © 2019 MiTrust (cto@m-itrust.com). Unauthorized copying of this file, via any medium is strictly prohibited. Proprietary and confidential -->

<configuration scan="true" debug="false" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="logback.xsd">
	<!-- scan=true will reload this configuration file regularly -->

	<!-- http://logback.qos.ch/manual/jmxConfig.html -->
	<!-- TODO: stop in a ServletContextListener . See logback doc -->
	<contextName>AgileaTests</contextName>
	<jmxConfigurator />

	<!-- http://logback.qos.ch/manual/configuration.html -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<!-- http://stackoverflow.com/questions/2005929/howto-prevent-eclipse-from-line-wrapping-in-xml-and-html-files -->
			<!-- '%highlight' works under unix even if withJansi==false -->
			<!-- Not a '.' between class and method in order to easily double-click to select the class and directly paste in IDE -->
			<pattern><![CDATA[%date %-5level[%thread] %logger{36}|%method\(%line\) - %msg%n]]></pattern>
		</encoder>

		<!-- https://logback.qos.ch/manual/appenders.html#conAppWithJansi -->
		<!-- ANSI fails in our Windows env: https://jira.qos.ch/browse/LOGBACK-762 -->
		<withJansi>false</withJansi>
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.security" level="INFO" />
	
	<!-- Quite verbose -->
	<logger name="org.springframework.boot.test.context.SpringBootTestContextBootstrapper" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>